<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="API_ENDPOINT" value=""/>
		<add key="USER" value=""/>
		<add key="PASS" value=""/>
		<add key="UPDATE_TIME_MS" value="15000"/>
		<add key="DATA_FILE" value="data.txt"/>
		<add key="OVERWRITE_DATA_FILE" value="false"/>
		<add key="LOG_FILE" value="log.txt"/>
		<add key="OVERWRITE_LOG_FILE" value="false"/>
	</appSettings>
</configuration>